In [31]:
import pandas as pd
import numpy as np
import re

__데이터 로드__

In [32]:
path='D:/세미 1차 텍스트 마이닝/formats/'
from_B = pd.read_csv(path+'from_Biden_with_hashtag.csv')
to_B = pd.read_csv(path+'to_Biden_with_hashtag.csv')
from_T = pd.read_csv(path+'from_Trump_with_hashtag.csv')
to_T = pd.read_csv(path+'to_Trump_with_hashtag.csv')

__바이든에게 한 트윗 중 1개가 본문이 결측이던데 왜지? ,,__

In [33]:
to_B = to_B[to_B.text.notnull()]

__해쉬태그를 뽑아 반환하는 함수 , 해쉬태그와 한글을 싸그리 제거하는 함수__

In [34]:
def get_tag(row):
    hash_tags = re.findall('#\w+',row.text)
    if not hash_tags:
        return np.nan
    return hash_tags

def remove_tag_and_kor(row):
    
    row.text = re.sub('#\w+|[가-힣]+','',row.text)
    return row

In [35]:
from_B['hash_tags'] = from_B.apply(get_tag,axis=1)
from_B = from_B.apply(remove_tag_and_kor,axis=1)

to_B['hash_tags'] = to_B.apply(get_tag,axis=1)
to_B = to_B.apply(remove_tag_and_kor,axis=1)

from_T['hash_tags'] = from_T.apply(get_tag,axis=1)
from_T = from_T.apply(remove_tag_and_kor,axis=1)

to_T['hash_tags'] = to_T.apply(get_tag,axis=1)
to_T = to_T.apply(remove_tag_and_kor,axis=1)

__잘들 적용되었나__

In [36]:
from_B[from_B.hash_tags.notnull()].head()

,date,text,hash_tags
44,2020-09-07,"Today, we honor the generations of union worke...",[#LaborDay88]
70,2020-09-10,Roberto Clemente was an incredible baseball pl...,[#21]
90,2020-09-13,Iran’s cruel execution of Navid Afkari is a tr...,"[#NavidAfkari, #نوید_افکاری]"
135,2020-09-18,"Ahead of , Jill and I want to wish everyone in...","[#RoshHashanah, #RoshHashanah]"
140,2020-09-19,Jill and I wish our friends in the Jewish comm...,[#RoshHashanah1]

In [37]:
to_B[to_B.hash_tags.notnull()].head()

,date,text,hash_tags
7,2020-09-02,If I am elected President it will be in anothe...,[#JoeBiden]
22,2020-09-03,Voting for you in person in Virginia Joe.,[#BidenHarrisLandslide202016]
28,2020-09-03,Thank GOD for - - it’s time for some account...,"[#QuidProJoe, #Burisma, #Ukraine, #MoneyLaunde..."
35,2020-09-04,Oh please.Who wrote this poetic nonsense for y...,[#Trump202014]
44,2020-09-04,No idiot. It’s because of the World Health Or...,[#Clueless7]

In [38]:
from_T[from_T.hash_tags.notnull()].head()

,date,text,hash_tags
6,2020-09-02,True! Andrew Pollackwill always care for the f...,[#Fixit5]
48,2020-09-04,"THANK YOU LATROBE, PENNSYLVANIA! :40:20112.9 3...",[#MAGA1]
57,2020-09-05,Thank you Mark! MARK SIMONEI remember when Pre...,"[#trump, #MAGA, #Veterans, #VeteransForTrump5]"
59,2020-09-05,Another day everyone thought would be impossib...,[#EconomicNormalization]
64,2020-09-05,THANK YOU! .52.611.5,[#MAGA1]

In [39]:
to_T[to_T.hash_tags.notnull()].head()

,date,text,hash_tags
4,2020-09-02,"You like TV, right? There’s a casting call fo...",[#Strokeahontas]
10,2020-09-02,"Whatever you say,",[#Strokeahontas11]
11,2020-09-02,"Trump is not with Kenosha, but with out-of-sta...","[#TrumpGestapo, #TrumpVirus]"
31,2020-09-03,So sir I have been borrowing your name just w...,"[#PIZZAGATE, #PIZZAGATE]"
33,2020-09-03,That’s how Biden will debate also. He wants q...,[#HidenBiden23]

__저어어어어어어어장__

In [40]:
to_B.to_csv(path+'to_Biden_without_hashtag.csv',index=False)
from_B.to_csv(path+'from_Biden_without_hashtag.csv',index=False)
to_T.to_csv(path+'to_Trump_without_hashtag.csv',index=False)
from_T.to_csv(path+'from_Trump_without_hashtag.csv',index=False)